# Core functionality - changes here should be rare!
/src/app.py                   @AlexanderGruhl
/src/backend/database.py      @AlexanderGruhl
/src/backend/routers/auth.py  @AlexanderGruhl

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AlexanderGruhl
